<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="{{ url_for('templates.home') }}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="{{ url_for('templates.index') }}#jude" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT JUDE</a>
        <div class="w3-dropdown-hover w3-hide-small">
          <a href="{{ url_for('templates.index') }}#portfolio" class="w3-padding-large w3-button" title="portfolio">PORTFOLIO <i class="fa fa-caret-down"></i></a>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="{{ url_for('templates.textAnalysis') }}" class="w3-bar-item w3-button">Text Analysis Classifier</a>
            <a href="{{ url_for('templates.nameDemo') }}" class="w3-bar-item w3-button">Name Gender Classifier</a>
            <a href="http://surfcheckmass.com" target="_blank" class="w3-bar-item w3-button">Surf Forecasting Site</a>
            <a href="https://github.com/jude253" target="_blank" class="w3-bar-item w3-button">Github</a>
            <a href="https://www.youtube.com/user/DubsnPubs" target="_blank" class="w3-bar-item w3-button">YouTube</a>
          </div>
        </div>
        <a href="{{ url_for('templates.index') }}#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>

      </div>
    </div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
<!--      <a href="{{ url_for('templates.home') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOME</a>-->
      <a href="{{ url_for('templates.index') }}#jude" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ABOUT JUDE</a>
      <a href="{{ url_for('templates.index') }}#portfolio" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PORTFOLIO</a>
      <a href="{{ url_for('templates.index') }}#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
    </div>

<!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        {% block heading %}{% endblock %}
        {% block body %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <a href="https://www.facebook.com/jude.capachietti.9" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/judecapachietti/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
        <a href="/images/snapcode.png" target="_blank"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
        <a href="https://twitter.com/MrCapachietti" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
        <a href="https://www.linkedin.com/in/jude-capachietti/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        <p class="w3-medium"><a href="https://www.python.org/" target="_blank"><img src="{{ url_for('static', filename='images/pythonLogo.png') }}" style="width:32px" class="w3-circle"></a></p>
    </footer>

  </body>
</html>
