{% extends 'base.html' %}

{% block title %}Jude Capachietti's website{% endblock %}
{% block meta_description %}Learn about Jude Capachietti, see his portfolio and more.{% endblock %}

{% block body %}
  <!-- Page content -->
  <div class="w3-content fixed-bg" style="max-width:2000px;margin-top:46px;">

      <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;" id="jude">
          <h1 class="w3-wide"><b><i>How do you sound?</i></b></h1>
          <h5 class="w3-wide"><b>My latest project tells you.</b></h5>

        <p><i>Enter text below to see how you sound! Also there's sample text down below
            you can copy and paste in, and it works best with 50-100 words.</i></p>
        <br>
        <div class="w3-content w3-padding-32 grad" style="max-width:700px;">
            <div class="w3-row">
<!--                <h4>This works best typing between 50 and 100 words:</h4>-->
                <p><textarea id="textInput" name="textInput" rows="7" style = "max-width:90%;width:80%;" ></textarea></p>
                <div class="w3-content w3-row">
                    <div class="w3-container w3-cell w3-third">Word count: <span id="wordCount">0</span>
                    </div>
                    <div class="w3-container w3-cell w3-third">
                    </div>
                    <div class="w3-container w3-cell w3-third">
                        <button onclick="callClassifier()" class="w3-button w3-black w3-hover-dark-grey" id="classify" name="submit" style="color:white; margin-left:.5em;">Classify</button>
                    </div>
                </div>
            </div>
            <div class="w3-content w3-row">
                <div>
                    <h5 >Predictions and Certainties:</h5>
                </div>
            </div>
            <div class="w3-content w3-row">
                <div id="genderPrediction" class="w3-container w3-cell w3-third">Gender:</div>
                <div class="w3-container w3-cell w3-twothird">
                    <div style="height:24px;" id="maleBar">
                        <div id="femaleBar" class="w3-col" style="height:24px;width:50%;"><div id="certFemale" class="w3-text-white w3-left-align">f:50%</div></div>
                        <div class="w3-rest"><div id="certMale" class="w3-text-white w3-right-align">m:50%</div></div>
                    </div>
                </div>
            </div>
            <div class="w3-content w3-row"><p> </p>
            </div>
            <div class="w3-content w3-row">
                <div id="tonePrediction" class="w3-container w3-cell w3-third">Tone:</div>
                <div class="w3-container w3-cell w3-twothird">
                    <div style="height:24px;" id="posBar">
                        <div id="negBar" class="w3-col" style="height:24px;width:50%;"><div id="certNeg" class="w3-text-white w3-left-align">-:50%</div></div>
                        <div class="w3-rest"><div id="certPos" class="w3-text-white w3-right-align">+:50%</div></div>
                    </div>
                </div>
            </div>
            <div class="w3-content w3-row"><p> </p>
            </div>
            <div class="w3-content w3-row">
                <div id="agePrediction" class="w3-container w3-cell w3-third">Age:</p></div>
            </div>
        </div>
<!--        <br>-->
<!--        <p><i>How does it work?  What does it do?</i></p>-->
        <div class="w3-row w3-padding-32">
            <div class="w3-center">
                <p class="w3-justify">
<!--                <p>-->

                    <i>Sample Text 1:</i>
                    <br>
                    Hey Jude!
                    <br>
                        I am a recruiter from Blankity Blank.
                    I was looking at your portfolio, and I think you would be a great fit for out team!
                    Do you have time to set up a quick chat? I am looking forward to connecting.
                    <br>
                    <br>
                    <i>Sample Text 2:</i>
                    <br>
                    Dear Jude,
                    <br>
                    Thank you for your interest in the Full Stack Software Engineer position at Blank Blank
                    in the Blank Area. Unfortunately, we will not be moving forward with your application,
                    but we appreciate your time and interest in Blank Blank.
                    <br>
                    <br>
                    Regards,
                    <br>
                    The Blank Blank recruitment team

                </p>
            </div>

        </div>

      </div>

    <!-- End Page Content -->
    </div>

    <style>
        body {font-family: "Lato", sans-serif}
        .grad {
            background-image: linear-gradient(60deg, #6600cc, #ff0066);
            opacity: 0.95;
        }
        #femaleBar {background: rgb(0, 0, 0)}
        #maleBar {background: rgba(0, 0, 0, .5)}
        #negBar {background: rgb(0, 0, 0)}
        #posBar {background: rgba(0, 0, 0, .5)}
        .alignleft {
            float: left;
        }
        .alignright {
            float: right;
        }
        h1{color:white}
        h5{color:white}
        p {color:white}
        body {
            /*changed the background to gradient from image*/
            background-image: linear-gradient(240deg, #6600cc, #ff0066);
            background-color: #6600cc;
<!--          /* The background image */-->
<!--          background-image: url('{{ url_for('static', filename='images/nn.jpeg') }}');-->

<!--          /* Set a specified height, or the minimum height for the background image */-->
<!--          min-height: 500px;-->

<!--          /* Set background image to fixed (don't scroll along with the page) */-->
<!--          background-attachment: fixed;-->

<!--          /* Center the background image */-->
<!--          background-position: center;-->

<!--          /* Set the background image to no repeat */-->
<!--          background-repeat: no-repeat;-->

<!--          /* Scale the background image to be as large as possible */-->
<!--          background-size: cover;-->
        }
    </style>



    <script>
<!--    classifier api call logic-->
    function callClassifier() {
      var textInputString = document.getElementById("textInput").value;
      axios.post('/api/textAnalysis',{textInput: textInputString})
            .then(response => {
<!--                console.log(response.data);-->
                document.getElementById("genderPrediction").innerHTML = 'Gender: ' + response.data["predictions"]["gender"]["prediction"]
                document.getElementById("agePrediction").innerHTML = 'Age: ' + response.data["predictions"]["age"]["prediction"]
                document.getElementById("tonePrediction").innerHTML = 'Tone: ' + response.data["predictions"]["tone"]["prediction"]
                document.getElementById("certFemale").innerHTML = 'f:' + response.data["predictions"]["gender"]["certainty"]["female"]
                document.getElementById("certMale").innerHTML = 'm:' + response.data["predictions"]["gender"]["certainty"]["male"]
                document.getElementById("certNeg").innerHTML = '-:' + response.data["predictions"]["tone"]["certainty"]["negative"]
                document.getElementById("certPos").innerHTML = '+:' + response.data["predictions"]["tone"]["certainty"]["positive"]
                move(response.data["predictions"]["gender"]["certainty"]["female"],"femaleBar")
                move(response.data["predictions"]["tone"]["certainty"]["negative"],"negBar")
            })
            .catch(error => console.error(error));
    }
<!--    word count logic-->
    var input = document.querySelectorAll('textarea')[0];
    input.addEventListener('keyup', function() {

      // word counter logic
        var words = input.value.match(/\b[-?(\w+)?]+\b/gi);
        if(words === null){
            document.getElementById("wordCount").innerHTML = 0
        }
        else {
            document.getElementById("wordCount").innerHTML = words.length
        }
    });

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

<!--    sliding graph update-->
    function move(femaleBarPercent,id) {
      var elem = document.getElementById(id);
      var width = 1;
      var id = setInterval(frame, 1);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
        } else {
          width++;
          elem.style.width = femaleBarPercent;
        }
      }
    }

    </script>
{% endblock %}