{% extends 'base.html' %}

{% block title %}Jude Capachietti's website{% endblock %}
{% block meta_description %}Learn about Jude Capachietti, see his portfolio and more.{% endblock %}

{% block body %}
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

      <!-- Name Gender Classifier Section -->
      <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="jude">
        <h1 class="w3-wide"><b>Text Analysis Classifier</b></h1>
        <p class="w3-opacity"><i>Predicts whether text sounds like it is written by a male or female, positive or negative, and age.  Try it out!</i></p>
        <br>
        <div class="w3-content w3-padding-32 grad" style="max-width:700px;">
            <div class="w3-row">
                <h4>This works best typing between 50 and 100 words:</h4>
                <p><textarea id="textInput" name="textInput" rows="7" style = "max-width:90%;width:80%;" ></textarea></p>
                <div class="w3-content w3-row">
                    <div class="w3-container w3-cell w3-third">Word count: <span id="wordCount">0</span>
                    </div>
                    <div class="w3-container w3-cell w3-third">
                    </div>
                    <div class="w3-container w3-cell w3-third">
                        <button onclick="callClassifier()" class="w3-button w3-black w3-hover-dark-grey" id="classify" name="submit" style="color:white; margin-left:.5em;">Classify</button>
                    </div>
                </div>
            </div>
            <div class="w3-content w3-row">
                <div>

                    <h5 >Predictions and Certainties:</h5>
                </div>


            </div>
            <div class="w3-content w3-row">
                <div id="genderPrediction" class="w3-container w3-cell w3-third">Gender:</div>
                <div class="w3-container w3-cell w3-twothird">
                    <div style="height:24px;" id="maleBar">
                        <div id="femaleBar" class="w3-col" style="height:24px;width:50%;"><div id="certFemale" class="w3-text-white w3-left-align">f:50%</div></div>
                        <div class="w3-rest"><div id="certMale" class="w3-text-white w3-right-align">m:50%</div></div>
                    </div>
                </div>
            </div>
            <div class="w3-content w3-row"><p> </p>
            </div>
            <div class="w3-content w3-row">
                <div id="tonePrediction" class="w3-container w3-cell w3-third">Tone:</div>
                <div class="w3-container w3-cell w3-twothird">
                    <div style="height:24px;" id="posBar">
                        <div id="negBar" class="w3-col" style="height:24px;width:50%;"><div id="certNeg" class="w3-text-white w3-left-align">-:50%</div></div>
                        <div class="w3-rest"><div id="certPos" class="w3-text-white w3-right-align">+:50%</div></div>
                    </div>
                </div>
            </div>
            <div class="w3-content w3-row"><p> </p>
            </div>
            <div class="w3-content w3-row">
                <div id="agePrediction" class="w3-container w3-cell w3-third">Age:</p></div>
            </div>
        </div>
        <br>
        <p class="w3-opacity"><i>How does it work?  What does it do?</i></p>
        <div class="w3-row w3-padding-32">
            <div class="w3-center">
                <p class="w3-justify">
                    I built this classifier using a deep neural network with word embeddings.  The word embeddings are
                    averaged together in a weighted average and the neural network has 2 layers.  It has been quite a
                    journey to get this classifier to work and I have learned a lot from it.  It is trained off the
                    the Blog Authorship Corpus.  The main issue I was having when getting this classifier to work
                    effectively is that my computer is not powerful enough to run through the whole dataset, so I had
                    to break down the data into a small sample, then I only took the first 100 words of blog entries
                    that were over 100 words in length and I skipped over blog entries that didn't have at least 50
                    words.  I also made sure I had an approximately 50% male and 50% female training dataset.  This
                    reduced the amount of hyper parameters down to a point where I could train an effective model,
                    but in the future I am going to use Microsoft Azure to train a Deep Averaging Neural Network on
                    the whole Blog Authorship Corpus.  Then I plan on expanding this project to be a chrome extension
                    that people can use to check their email and other text on the internet.
                </p>
            </div>

        </div>

      </div>

    <!-- End Page Content -->
    </div>

    <style>
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
        .grad {background-image: linear-gradient(60deg, #6600cc, #ff0066)}
        #femaleBar {background: rgb(0, 0, 0)}
        #maleBar {background: rgba(0, 0, 0, .5)}
        #negBar {background: rgb(0, 0, 0)}
        #posBar {background: rgba(0, 0, 0, .5)}
        .alignleft {
            float: left;
        }
        .alignright {
            float: right;
}
    </style>



    <script>
<!--    classifier api call logic-->
    function callClassifier() {
      var textInputString = document.getElementById("textInput").value;
      axios.post('/api/textAnalysis',{textInput: textInputString})
            .then(response => {
<!--                console.log(response.data);-->
                document.getElementById("genderPrediction").innerHTML = 'Gender: ' + response.data["predictions"]["gender"]["prediction"]
                document.getElementById("agePrediction").innerHTML = 'Age: ' + response.data["predictions"]["age"]["prediction"]
                document.getElementById("tonePrediction").innerHTML = 'Tone: ' + response.data["predictions"]["tone"]["prediction"]
                document.getElementById("certFemale").innerHTML = 'f:' + response.data["predictions"]["gender"]["certainty"]["female"]
                document.getElementById("certMale").innerHTML = 'm:' + response.data["predictions"]["gender"]["certainty"]["male"]
                document.getElementById("certNeg").innerHTML = '-:' + response.data["predictions"]["tone"]["certainty"]["negative"]
                document.getElementById("certPos").innerHTML = '+:' + response.data["predictions"]["tone"]["certainty"]["positive"]
                move(response.data["predictions"]["gender"]["certainty"]["female"],"femaleBar")
                move(response.data["predictions"]["tone"]["certainty"]["negative"],"negBar")
            })
            .catch(error => console.error(error));
    }
<!--    word count logic-->
    var input = document.querySelectorAll('textarea')[0];
    input.addEventListener('keyup', function() {

      // word counter logic
        var words = input.value.match(/\b[-?(\w+)?]+\b/gi);
        if(words === null){
            document.getElementById("wordCount").innerHTML = 0
        }
        else {
            document.getElementById("wordCount").innerHTML = words.length
        }
    });

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

<!--    sliding graph update-->
    function move(femaleBarPercent,id) {
      var elem = document.getElementById(id);
      var width = 1;
      var id = setInterval(frame, 1);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
        } else {
          width++;
          elem.style.width = femaleBarPercent;
        }
      }
    }

    </script>
{% endblock %}